/Second Year/Sem 3/*
/Second Year/Sem 4/DBMS/
/Second Year/Sem 4/Elec/
/Second Year/Sem 4/Marathi/
/Second Year/Sem 4/English/
/Second Year/Sem 4/DSA/
Second Year/Sem 3
Second Year/Sem 4/DBMS/DBMS sem04 ch01 Relational Database Design Using PLSQL anshu.pdf
Second Year/Sem 4/DBMS/DBMS sem04 ch02 Transaction Concept and Concurency Control anshu.pdf
